* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(7, 1fr);
  background-color: #248EFF;
  justify-content: center;
  align-items: center;
}
header .menu1 {
  grid-column: 2/3;
  color: white;
}
header a:is(:link, :hover, :active, :visited) {
  color: white;
  text-decoration: none;
}
header a {
  text-align: center;
}
header .course {
  grid-column: 3/4;
}
header .login {
  grid-column: 6/7;
}
header .logout, header .signup {
  grid-column: 7/8;
}

a:is(:link, :hover, :active, :visited) {
  color: black;
  text-decoration: none;
}

th,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

.top {
  margin: 3rem;
  margin-left: 10rem;
}
.top h1 {
  text-transform: uppercase;
  font-size: 46px;
}
.top h2 {
  margin: 1rem;
}

.title {
  margin: 2rem;
  text-align: center;
  font-size: 46px;
  text-transform: uppercase;
}

.subtitle {
  text-align: center;
  margin-bottom: 4rem;
}

.courseContainer {
  margin: 2rem;
  margin-left: 18rem;
  margin-right: 18rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 250px);
  justify-items: center;
  align-items: center;
  grid-row-gap: 5rem;
  grid-column-gap: 2rem;
}
.courseContainer .course {
  z-index: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #ececec;
  display: grid;
  justify-items: center;
  border-radius: 8%;
}
.courseContainer .course .hidden {
  display: grid;
  grid-template-rows: 1fr 0;
  transition: grid-template-rows 1000ms;
  overflow: hidden;
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.courseContainer .course .hidden img {
  width: 80%;
  height: 100%;
  transition: width 1000ms;
  -o-object-fit: cover;
     object-fit: cover;
  justify-self: center;
  border-radius: 7%;
}
.courseContainer .course .hidden figcaption {
  display: flex;
  align-items: center;
  color: black;
  padding: 5px;
  margin-top: 2px;
  justify-content: center;
}
.courseContainer .course .hidden figcaption span {
  margin-left: 1rem;
  font-size: 20px;
  text-align: center;
}
.courseContainer .course:hover {
  z-index: 1;
}
.courseContainer .course:hover .hidden {
  grid-template-rows: 1fr 2rem;
}
.courseContainer .course:hover .hidden img {
  width: 100%;
}
.courseContainer .courseButton {
  margin-bottom: 1rem;
}

.hiddenContent {
  display: none;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  overflow: auto;
}
.popup .popup-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  min-width: 50vw;
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  z-index: 3;
}
.popup .popup-content .pCourseName {
  grid-column: 1/4;
  text-align: center;
  margin-top: 1rem;
  font-size: 32px;
  font-weight: bold;
}
.popup .popup-content .pDateLabel {
  grid-row: 2/3;
}
.popup .popup-content .pDate {
  grid-row: 3/4;
}
.popup .popup-content .pMain {
  grid-column: 2/4;
  grid-row: 2/5;
  margin: 1rem;
  font-size: 24px;
}
.popup .popup-content .tabs-container {
  grid-column: 2/4;
  grid-row: 2/5;
}

.tabs-container {
  width: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}
.tabs-container .tab {
  display: inline-block;
  width: 20%;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
}
.tabs-container .tab:hover {
  background-color: #e0e0e0;
}
.tabs-container .tab.selected {
  background-color: #e0e0e0;
}
.tabs-container .tab-content {
  padding: 20px;
  background-color: #FFFFFF;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.tabs-container .tab-content.selected {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.tabs-container .tabsPopup {
  grid-column: 2/4;
  grid-row: 2/5;
  display: flex;
  flex-direction: column;
}
.tabs-container .tabsLine {
  display: flex;
  flex-direction: row;
}
.tabs-container .tabWindow {
  display: flex;
}

.container {
  margin: 3rem;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.container h1 {
  text-align: center;
  grid-column: 1/4;
}
.container .tabbedWindow {
  margin-top: 10rem;
  transition: margin-top 500ms;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  place-items: center;
}
.container .tabbedWindow .divWindow {
  text-align: center;
  width: 7vw;
  height: 1vw;
  padding: 2rem;
  border: 1px solid black;
  transition: padding 500ms;
  background-color: #248EFF;
  color: white;
  overflow: hidden;
}
.container .tabbedWindow .divWindow .tab-container {
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.container .tabbedWindow .divWindow .tab-container .tabsLine {
  display: flex;
}
.container .tabbedWindow .divWindow .tab-container .tabsLine .tab {
  display: inline-block;
  width: 20%;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  color: black;
  width: 49%;
}
.container .tabbedWindow .divWindow .tab-container .tabsLine .tab:hover {
  background-color: #e0e0e0;
}
.container .tabbedWindow .divWindow .tab-container .tabsLine .tab.selected {
  background-color: #e0e0e0;
}
.container .tabbedWindow .divWindow .tab-container .tabWindow {
  height: 100%;
  width: 100%;
}
.container .tabbedWindow .divWindow .tab-container .tabWindow .tab-content {
  position: absolute;
  color: black;
  display: none;
  z-index: 0;
}
.container .tabbedWindow .divWindow .tab-container .tabWindow .selected {
  position: relative;
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.container .tabbedWindow .divWindow .tab-container .tabWindow .selected table {
  width: 100%;
}
.container .tabbedWindow .divWindow .tab-container .tabWindow .selected table tbody {
  width: 100%;
}
.container .tabbedWindow .divWindow .tab-container .tabWindow .selected table tbody tr {
  width: 100%;
}
.container .tabbedWindow .divWindow .tab-container .tabWindow .selected table tbody tr td img {
  width: 50%;
  height: 50%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
}
.container .tabbedWindow .divWindow .loader {
  width: 100%;
  height: 100%;
  background-color: #248EFF;
  margin: 0px;
  transition: height 1000ms;
  z-index: 2;
}
.container .tabbedWindow .hoverable:hover {
  padding: 3rem;
}

.toolBar {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.toolBar form {
  display: flex;
  grid-column: 1/2;
}
.toolBar a {
  grid-column: 3/4;
}
.toolBar .tbImage {
  aspect-ratio: 1/1;
  width: 3%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=main.css.map */