*{
    margin: 0px;
}
header{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
    background-color: #248EFF;
    justify-content: center;
    align-items: center;
}

.menu1{
    grid-column: 2/6;
    color: white;
}   

header a:is(:link, :hover, :active, :visited){
    color: white;
    text-decoration: none;
}

header a{
    text-align: center;
}

.container a:is(:link, :hover, :active, :visited){
    color: black;
    text-decoration: none;
}

th, td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

/* Our Courses page */
.title{
    margin: 2rem;
    text-align: center;
    margin-bottom: 5rem;
}

.courseContainer{
    margin: 2rem;
    margin-left: 18rem;
    margin-right: 18rem;
    border: 1px solid black;
    display:  grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
    justify-items: center;
    align-items: center;
    grid-row-gap: 5rem;
}

.course{
    border: 1px solid black;
    z-index: 1;
    transition: z-index 1000ms;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #ececec;
    display: grid;
    justify-items: center;
}

.hidden {
    display: grid;
    grid-template-rows: 1fr 0;
    transition: grid-template-rows 1000ms;
    overflow: hidden;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.hidden img {
    width: 80%;
    height: 100%;
    transition: width 1000ms;
    object-fit: cover;
    justify-self: center;
    border-radius: 7%;
    
}

.hidden figcaption{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 1px;
}

.hidden figcaption span{
    margin-left: 1rem;
    font-size: 20px;
}

.hidden:hover{
    grid-template-rows: 1fr 6rem;
}

.course:hover {
    z-index: 2;
}

.hidden:hover img{
    width: 100%;
    
}

.courseButton{
    margin-bottom: 1rem;
}