*{
    margin: 0px;
}
header{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
    background-color: #248EFF;
    justify-content: center;
    align-items: center;
}

.menu1{
    grid-column: 2/6;
    color: white;
}   

header a:is(:link, :hover, :active, :visited){
    color: white;
    text-decoration: none;
}

header a{
    text-align: center;
}

.container a:is(:link, :hover, :active, :visited){
    color: black;
    text-decoration: none;
}

th, td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

/* Our Courses page */
.title{
    margin: 2rem;
    text-align: center;
    margin-bottom: 5rem;
}

.courseContainer{
    margin: 2rem;
    margin-left: 18rem;
    margin-right: 18rem;
    border: 1px solid black;
    display:  grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
    justify-items: center;
    align-items: center;
    grid-row-gap: 5rem;
}

.course{
    border: 1px solid black;
    z-index: 1;
    transition: z-index 1000ms;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #ececec;
    display: grid;
    justify-items: center;
}

.hidden {
    display: grid;
    grid-template-rows: 1fr 0;
    transition: grid-template-rows 1000ms;
    overflow: hidden;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.hidden img {
    width: 80%;
    height: 100%;
    transition: width 1000ms;
    object-fit: cover;
    justify-self: center;
    border-radius: 7%;
    
}

.hidden figcaption{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 1px;
    justify-content: center;
}

.hidden figcaption span{
    margin-left: 1rem;
    font-size: 20px;
    text-align: center;
}

.hidden:hover{
    grid-template-rows: 1fr 2rem;
}

.course:hover {
    z-index: 2;
}

.hidden:hover img{
    width: 100%;
    
}

.courseButton{
    margin-bottom: 1rem;
}

/* POPUP CSS*/
.hiddenContent{
    display: none;
}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    overflow: auto;
}

.popup-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    min-width: 50vw;
    min-height: 50vh;
    /* GRID */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.pCourseName{
    grid-column: 1/4;
    text-align: center;
    margin-top: 1rem;
    font-size: 32px;
    font-weight: bold;
}

.pDateLabel{
    grid-row: 2/3;
}

.pDate{
    grid-row: 3/4;
}

.pDesc{
    grid-column: 2/4;
    grid-row: 2/5;
    margin: 1rem;
    font-size: 24px;
}