@mixin tabStyle {
    display: inline-block;
    width: 20%;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #248EFF;
    

    &:hover {
        background-color: #4c9ff8;
    }

    &.selected {
        background-color: #4c9ff8;
    }
}

@mixin rouletteAnimated {
    text-align: center;
        border: 1px solid white;
        padding: 2rem;
        background-color: $lightBlue;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 14px #a0dcffc5;
        animation: scaleAndGlow 2s linear infinite;
}