@import "scss/variables.scss";
@import "scss/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
// Reset de márgenes para todos los elementos
* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}
//background
::-webkit-scrollbar{
    width:0;
}

body {
    background-image: url('../img/stockBackground.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(6px) brightness(0.5);
    height: 100vh;
    overflow-x: hidden;
}

body.roulette{
    background-image: url("../img/rouletteBackground.jpg");
    backdrop-filter: none;
}

//input[type="file"] {
//    color: transparent; /* Hace que el texto sea transparente */
//    overflow: hidden; /* Oculta cualquier desbordamiento */
//    align-self: baseline;
//}

//Login
.formDiv{
    display:grid;
    place-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    form{
        padding: 40px;
        background-color:$lightBlue;    
        border-radius: 10px;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        max-width: 40vw;
        h3{
            color: white;
        }
        .form-button{
            font-size: 16px;
            color:$darkBlue;
            background-color: white;
            border-radius: 10px;
            border:none;
            padding: 1rem;
            margin-top:20px;
            padding-left: 2rem;
            padding-right: 2rem;
        }
            
            .formRow{
                display: grid;
                align-items: center;
                grid-template-columns: 1fr 1fr;

                h3{
                    grid-column: 1/3;
                    text-align: center;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    margin: 1rem;
                }

                .singleRow{
                    grid-column: 1/3;
                }
                .formDivided{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: 100%;
                    div{
                        display: grid;
                        grid-template-rows: auto;

                        input[type="file"]{
                            grid-row: 2/3;
                        }
                    }
                }
            }
            label{
                margin-bottom:1rem;
                margin-top: 1rem;
            }
        
    }
}
// Estilos para el encabezado
header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
    background-color: #248EFF;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    .headerLogo{
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: transform 300ms;

        &:hover{
            transform: scale(0.9);
        }
    }
    .menu1 {
        grid-column: 2/3;
        color: white;
    }
    a {
        color:white;
        text-decoration: none;
        text-align: center;
    }

    .course {
        grid-column: 3/4;
    }

    #login {
        grid-column: 6/7;
    }
    #logout, #signup {
        grid-column: 7/8;
    }
}
// Estilos para tablas
th,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;

    tbody{
        width: 100%;
    }
    th, td{
        min-width: 12.5%;
        width: 12.5%;
        max-width: 12.5%;
    }
    th{
        background-color: $darkBlue;
    }
    td{
        background-color: $lightBlue;
    }
}

// Estilos para la página "Our Courses"
.top {
    margin: 3rem;
    margin-left: 12rem;

    h1 {
        text-transform: uppercase;
        font-size: 46px;
        color: white;
    }

    h2 {
        margin: 1rem;
        color: white;
    }

    p{
        color: white;
    }

    div{
        display: flex;
        justify-content: space-between;
    }
}

.subtitle {
    margin-bottom: 4rem;
}

.courseContainer {
    margin: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    
    place-items: center;
    grid-row-gap: 3rem;
    grid-column-gap: 1rem;
    height: 65vh;
    overflow-y: auto;

    .course {
        z-index: 0;
        background-color: #ececec;
        display: grid;
        justify-items: center;
        border-radius: 8%;

        .hidden {
            display: grid;
            grid-template-rows: 1fr 0;
            transition: grid-template-rows 1000ms;
            overflow: hidden;
            padding-top: 1rem;
            margin-bottom: 1rem;

            img {
                width: 80%;
                height: 100%;
                transition: width 1000ms;
                object-fit: cover;
                justify-self: center;
                border-radius: 7%;
            }

            figcaption {
                display: flex;
                align-items: center;
                color: black;
                padding: 5px;
                margin-top: 2px;
                justify-content: center;

                span {
                    margin-left: 1rem;
                    font-size: 20px;
                    text-align: center;
                }
            }
        }

        &:hover {
            z-index: 1;

            .hidden {
                grid-template-rows: 1fr 2rem;

                img {
                    width: 100%;
                }
            }
        }
    }

    .courseButton {
        margin-bottom: 1rem;
    }
}

// Estilos para el popup
.hiddenContent {
    display: none;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    overflow: auto;

    .popup-content {
        background-color: #fff;
        margin: auto;
        padding: 20px;
        width: 80%;
        max-width: 600px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        min-width: 50vw;
        min-height: 50vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        z-index: 3;
        border-radius: 1rem;

        .pCourseName {
            grid-column: 1/2;
            margin-top: 1rem;
            font-size: 32px;
            font-weight: bold;
        }

        button {
            grid-column: 3/4;
            height: 60%;
            width: 70%;
            align-self: center;
            justify-self: right;
        }

        .pMain {
            grid-column: 1/4;
            grid-row: 2/5;
            margin: 1rem;
            font-size: 24px;
        }

        .tabs-container{
            grid-column: 1/4;
            grid-row: 2/6;
            background-color: $lightBlue;
        }
    }
}

// Estilos para pestañas
.tabs-container {
    width: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;

    .tab {
        @include tabStyle;
    }

    .tab-content {
        padding: 20px;
        background-color: $lightBlue;
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        z-index: 0;

        &.selected {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }

    .tabsPopup {
        grid-column: 2/4;
        grid-row: 2/5;
        display: flex;
        flex-direction: column;
    }

    .tabsLine {
        display: flex;
        flex-direction: row;
        
    }

    .tabWindow {
        display: flex;
    }
}

// Estilos para los paneles
.container {
    margin: 3rem;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    table{
        tr{
            th{
                padding: 1rem;
                min-width: 12.5%;
                width: 12.5%;
                max-width: 12.5%;
            }
            td{
                text-overflow: ellipsis;
                .switch-button {
                    display: inline-block;
                    .toggle-checkbox {
                        display: none;
                    }
                    .switch-button__label {
                        background-color: $color-red;
                        width: 5rem;
                        height: 3rem;
                        border-radius: 3rem;
                        display: inline-block;
                        position: relative;
                        &:before {
                            transition: .2s;
                            display: block;
                            position: absolute;
                            width: 3rem;
                            height: 3rem;
                            background-color: $color-button;
                            content: '';
                            border-radius: 50%;
                            box-shadow: inset 0px 0px 0px 1px $color-black;
                        }
                    }
                    .toggle-checkbox:checked + .switch-button__label {
                        background-color: $color-green;
                        &:before {
                            transform: translateX(2rem);
                        }
                    }
                }
            }

            
        }
    }
    h1 {
        text-align: center;
        grid-column: 1/4;
        color: white;
    }

    .tabbedWindow{
        display: flex;
        justify-content: space-around;
        grid-column: 1/4;
        display: grid;
        max-height: 80vh;
        overflow: auto;
        .divWindow{
            overflow: hidden;
            text-align: center;
            background-color: $darkBlue;
            color: white;
            font-size: 18px;
            border: 1px solid black;
            width: 65vw;
            height: auto;
            margin: 1rem;
            padding: 1rem;
            transition: background-color 300ms;
            
            
            &.teacherWindow{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                place-items: center;
            }

            

            .tab-container{
                z-index: 1;
                width: 100%;
                height: 100%;
                overflow-y: auto;
                

                .tabsLine{
                    display: flex;
                    align-items: center;
                    background-color: #f0f0f0;
                    .tab{
                        @include tabStyle;
                        color: black;
                        //width: 49%;
                    }
                }

                .tabWindow{
                    height: 100%;
                    width: 100%;
                    .tab-content{
                        position: absolute;
                        color: black;
                        background-color: $lightBlue;
                        display: none;
                        z-index: 0;

                        .toolBar{
                            background-color: $darkBlue;
                        }
                    }
                    .selected{
                        position: relative;
                        display: block;
                        z-index: 1;
                        width: 100%;
                        height: 100%;
                        
                    }
                    table{
                        width: 100%;
                        tbody{
                            width: 100%;
                            tr{
                                width: 100%;
                                td{
                                    img{
                                        width: 50%;
                                        height: 50%;
                                        aspect-ratio: 1/1;
                                        object-fit: contain;
                                    }
                                }
                            }
                        }
                    }

                    
                }
            }

            .loader{
                width: 100%;
                height: 100%;
                background-color: $darkBlue;
                margin: 0px;
                transition: height 1000ms;
                z-index: 2;
            }
        }
        .courseHidden{
            display: none;
        }
        .hoverable{
            &:hover{
                background-color: $darkBlueOnHover;
            }
        }
    }

    .teacherContainer{
        grid-column: 1/4;
        display: grid;
        max-height: 80vh;
        overflow: auto;
        div{
            display: flex;
            justify-content: space-around;

            background-color: $darkBlue;
            color: white;
            font-size: 18px;
            border: 1px solid black;
            width: 60vw;
            margin: 1rem;
            padding: 1rem;
            transition: background-color 300ms;

            &:hover {
                background-color: $darkBlueOnHover;
            }
        }
    }
}

.toolBar{
    display: grid;
    align-items: center;

    grid-template-columns: repeat(3, 1fr);

    form{
        display: flex;
        grid-column: 1/2;
    }
    a{
        grid-column: 3/4;
    }
    .tbImage{
        aspect-ratio: 1/1;
        width: 3%;
        object-fit: contain;
    }
}

.rouletteContainer {
    display: grid;
    place-items: center;
    overflow: hidden;
    min-width: 500px;
    min-height: 500px;
    font-weight: bold;

    .rouletteText {
        max-width: 45vw;
        @include rouletteAnimated;
    }
    
    @keyframes scaleAndGlow {
        0%, 100% {
            transform: scale(1); /* Escala normal */
            box-shadow: 0px 0px 20px 14px #a0dcffc5; /* Sombra normal */
        }
        50% {
            transform: scale(1.1); /* Aumenta el tamaño */
            box-shadow: 0px 0px 40px 20px #a0dcffc5; /* Aumenta la dispersión */
        }
    }
    
    


    .roulette{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .arrow {
            width: 50px;
            height: 50px;
            background-color: black;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            transform: rotate(180deg);
            position: absolute;
            margin-bottom: 14rem;
            border: 1px solid #353535;
            z-index: 4;
        }
    
        img {
            margin: 2rem;
            height: 50%;
            object-fit: contain;
            aspect-ratio: 1/1;
        }

        button {
            width: 20vw;
            @include rouletteAnimated;
            padding: 1rem;
            transition: scale 1s;
            &:active{
                animation: none;
            }
        }
    }
}
//boton blanco y azul y boton atras
.whiteBtn{
    text-align:center ;
    text-decoration: none;
    font-size: 16px;
    color:$darkBlue;
    background-color:#ffffff;
    border-radius: 10px;
    border:none;
    padding: 1rem;
    align-self: center;
    padding-left: 2rem;
    padding-right: 2rem;
    place-items: center;
    cursor: pointer;
    transition: transform 300ms;

    &:hover{
        transform: scale(0.9);
    }
}

.blueBtn{
    text-decoration: none;
    text-align: center;
    color:white;
    font-size: 16px;
    background-color:$darkBlue;
    border-radius: 10px;
    border:none;
    padding: 1rem;
    align-self: center;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
    transition: transform 300ms;

    &:hover{
        transform: scale(0.9);
    }
}

.tabBackBtn{
    display: flex;
    background-color: $darkBlue;
    a{
        display: flex;
        color: black;
        text-decoration: none;
        align-items: center;
        margin-left: 1rem;
        &:link{
            color: black;
            text-decoration: none;
        }
        &:active{
            color: black;
            text-decoration: none;
        }
        &:hover{
            color: black;
            text-decoration: none;
        }
        img{
            width: 5%;
            aspect-ratio: 1/1;
            object-fit: contain;
            
            padding: 1rem;
        }
    }
    &:hover {
        background-color: $darkBlueOnHover;
    }

    &.selected {
        background-color: $darkBlueOnHover;
    }
}
img.backBtn{
    width: 30%;
    aspect-ratio: 1/1;
    object-fit: contain;
}
//Index
.indexContainer {
    border-radius: 0 10px 10px 0;
    background-color:$lightBlue;
    margin-top:10vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: stretch;
    align-content: stretch;
    justify-items: stretch;
    align-items: center;
    grid-template-areas:
    "title imgs"
    "description imgs"
    "buttons imgs";
    width: 1000px;
    height: 400px;

    .title { 
        margin-left:2vw;
        grid-area: title; 
    }
    .description { 
        margin-left:2vw;
        grid-area: description; 
    }
    .buttons {
        margin-left:2vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.4fr;
        grid-auto-columns: 1fr;
        gap: 0px 30px;
        grid-auto-flow: row;
        grid-template-areas:
        ". .";
        grid-area: buttons;
    }

    .imgs {
        margin-left: 3vw;
        display: grid;
        grid-template-columns: 0.1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        justify-content: stretch;
        align-content: stretch;
        grid-template-areas:
        "img1 img1 img3"
        "img2 img2 img3";
        grid-area: imgs;

    .img1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        justify-content: stretch;
        align-content: center;
        justify-items: stretch;
        align-items: start;
        grid-template-areas:
            ".";
        grid-area: img1;
    }

    .img2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        align-content: center;
        grid-template-areas:
            ".";
        grid-area: img2;
    }

    .img3 { grid-area: img3; }
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg); 
    }
}
@keyframes stop {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(45deg);
    }
}

.provisionalFoto{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 10rem;
}
#tableContainer{
    overflow-y:auto;
    max-height: 60vh;
    margin-left: 100px;
    margin-right: 100px;
    table{
        background-color: $lightBlue;
        tr{
            td{
                text-align: center;
                
            }
        }
    }
    
}
.error{
    margin-bottom: 5vh;
}

.footer-container{
    margin-top:15vh;
    width: auto;
    background-color: #0B0D17;
    color: white;
    padding: 30px 30px 20px 30px;
    .footer {
        display: grid;
        grid-template-columns: 1.3fr 1.1fr 0.8fr 0.9fr 1.2fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: "text quickLinks Services ReachUs icon";
    
        .text {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: "logo" "info";
        grid-area: text;
        }
    
        .logo {
        grid-area: logo;
            img{
                width: 30%;
                aspect-ratio: 1/1;
                object-fit: contain;
            }
        }
    
        .info {
        grid-area: info;
        }
    
        .quickLinks {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: "Title" "aboutUs" "contactUs" "courses";
        grid-area: quickLinks;
            div{
                a{
                    text-decoration: none;
                    color:white;
                    
                }
                a:hover{
                    color:lightblue;
                }
            }
        }
    
        .Title {
        grid-area: Title;
        }
    
        .aboutUs {
        grid-area: aboutUs;
        }
    
        .contactUs {
        grid-area: contactUs;
        }
    
        .courses {
        grid-area: courses;
        }
    
        .Services {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: "title" "appDev" "webDev" "machineLearn";
        grid-area: Services;
        }
    
        .title {
        grid-area: title;
        }
    
        .appDev {
        grid-area: appDev;
        }
    
        .webDev {
        grid-area: webDev;
        }
    
        .machineLearn {
        grid-area: machineLearn;
        }
    
        .ReachUs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: "reachUs reachUs" "icon1 mail" "icon2 tel" "icon3 direc";
        grid-area: ReachUs;
        }
    
        .reachUs {
        grid-area: reachUs;
        }
    
        .icon1 {
        grid-area: icon1;
        }
    
        .icon2 {
        grid-area: icon2;
        }
    
        .icon3 {
        grid-area: icon3;
        }
    
        .mail {
        grid-area: mail;
        }
    
        .tel {
        grid-area: tel;
        }
    
        .direc {
        grid-area: direc;
        }
    
        .icon {
        grid-area: icon;     
            img{
                width: 50%;
                aspect-ratio: 1/1;
                object-fit: contain;
                margin-left:220px;
                filter: brightness(0.2);
            }
        }
    }
}
.aboutUs-container{
    background-color: $lightBlue;
    padding: 30px;
    width: 60vw;
    border-radius: 10px;
    margin-left:16rem;
    margin-top: 1.5rem;
    p{
        margin-bottom:30px;
    }
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
  word-wrap: break-word;
}

.flip-card-front {
  background-color: #ebebeb;
  color: black;
  display: grid;
  place-items: center;

  img{
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 80%;
    height: 80%;
    mix-blend-mode: multiply;
  }
}

.flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $darkBlue;
    color: white;
    transform: rotateY(180deg);
    p{
        text-wrap: wrap;
        width: 80%;
    }
}
.courseIdRow{
    display: none;
}

.noCourses{
    grid-column: 1/4;
    color: white;
    align-self: self-start;
    justify-self: left;
}

//dropdown menu
.dropdown{
    grid-column: 7/8;

    button {
        background-color: white; /* Color de fondo del botón */
        border-radius: 1rem;
        color: $darkBlue;
        text-transform: capitalize;
        font-size: 16px;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        img{
            aspect-ratio: 1/1;
            object-fit: cover;
            height: 3rem;
            border-radius: 100%;
        }
        p{
            margin-left: 1rem;
        }

      }
}
  
  .dropdown-menu {
    display: none; /* Ocultar el menú por defecto */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Estilo de los elementos del menú */
  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Cambiar el color del enlace al pasar el ratón */
  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }

  .dropdown-divider{
    background-color: #6e6e6e;
    height: 1px;
  }