@import "scss/mixins.scss";

// Reset de márgenes para todos los elementos
* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

// Estilos para el encabezado
header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
    background-color: #248EFF;
    justify-content: center;
    align-items: center;

    .menu1 {
        grid-column: 2/3;
        color: white;
    }

    a:is(:link, :hover, :active, :visited) {
        color: white;
        text-decoration: none;
    }

    a {
        text-align: center;
    }

    .course {
        grid-column: 3/4;
    }

    .login {
        grid-column: 6/7;
    }

    .logout, .signup {
        grid-column: 7/8;
    }
}

// Estilos para enlaces
a:is(:link, :hover, :active, :visited) {
    color: black;
    text-decoration: none;
}

// Estilos para tablas
th,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

// Estilos para la página "Our Courses"
.top {
    margin: 3rem;
    margin-left: 10rem;

    h1 {
        text-transform: uppercase;
        font-size: 46px;
    }

    h2 {
        margin: 1rem;
    }
}

.title {
    margin: 2rem;
    text-align: center;
    font-size: 46px;
    text-transform: uppercase;
}

.subtitle {
    text-align: center;
    margin-bottom: 4rem;
}

.courseContainer {
    margin: 2rem;
    margin-left: 18rem;
    margin-right: 18rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
    justify-items: center;
    align-items: center;
    grid-row-gap: 5rem;
    grid-column-gap: 2rem;

    .course {
        z-index: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: #ececec;
        display: grid;
        justify-items: center;
        border-radius: 8%;

        .hidden {
            display: grid;
            grid-template-rows: 1fr 0;
            transition: grid-template-rows 1000ms;
            overflow: hidden;
            padding-top: 1rem;
            margin-bottom: 1rem;

            img {
                width: 80%;
                height: 100%;
                transition: width 1000ms;
                object-fit: cover;
                justify-self: center;
                border-radius: 7%;
            }

            figcaption {
                display: flex;
                align-items: center;
                color: black;
                padding: 5px;
                margin-top: 2px;
                justify-content: center;

                span {
                    margin-left: 1rem;
                    font-size: 20px;
                    text-align: center;
                }
            }
        }

        &:hover {
            z-index: 1;

            .hidden {
                grid-template-rows: 1fr 2rem;

                img {
                    width: 100%;
                }
            }
        }
    }

    .courseButton {
        margin-bottom: 1rem;
    }
}

// Estilos para el popup
.hiddenContent {
    display: none;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    overflow: auto;

    .popup-content {
        background-color: #fff;
        margin: auto;
        padding: 20px;
        width: 80%;
        max-width: 600px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        min-width: 50vw;
        min-height: 50vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        z-index: 3;

        .pCourseName {
            grid-column: 1/4;
            text-align: center;
            margin-top: 1rem;
            font-size: 32px;
            font-weight: bold;
        }

        .pDateLabel {
            grid-row: 2/3;
        }

        .pDate {
            grid-row: 3/4;
        }

        .pMain {
            grid-column: 2/4;
            grid-row: 2/5;
            margin: 1rem;
            font-size: 24px;
        }

        .tabs-container{
            grid-column: 2/4;
            grid-row: 2/5;
        }
    }
}

// Estilos para pestañas
.tabs-container {
    width: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;

    .tab {
        @include tabStyle;
    }

    .tab-content {
        padding: 20px;
        background-color: #FFFFFF;
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        z-index: 0;

        &.selected {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }

    .tabsPopup {
        grid-column: 2/4;
        grid-row: 2/5;
        display: flex;
        flex-direction: column;
    }

    .tabsLine {
        display: flex;
        flex-direction: row;
    }

    .tabWindow {
        display: flex;
    }
}

// Estilos para los paneles
.container {
    margin: 3rem;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    h1 {
        text-align: center;
        grid-column: 1/4;
    }

    .tabbedWindow{
        margin-top: 10rem;
        transition: margin-top 500ms;
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        place-items: center;
        .divWindow{
            text-align: center;
            width: 7vw;
            height: 1vw;
            padding: 2rem;
            border: 1px solid black;
            transition: padding 500ms;
            background-color: #248EFF;
            color: white;
            overflow: hidden;
            .tab-container{
                z-index: 1;
                width: 100%;
                height: 100%;
                overflow-y: auto;
                

                .tabsLine{
                    display: flex;
                    .tab{
                        @include tabStyle;
                        color: black;
                        width: 49%;
                    }
                }

                .tabWindow{
                    height: 100%;
                    width: 100%;
                    .tab-content{
                        position: absolute;
                        color: black;
                        display: none;
                        z-index: 0;
                    }
                    .selected{
                        position: relative;
                        display: block;
                        z-index: 1;
                        width: 100%;
                        height: 100%;
                        
                        table{
                            width: 100%;
                            tbody{
                                width: 100%;
                                tr{
                                    width: 100%;
                                    td{
                                        img{
                                            width: 50%;
                                            height: 50%;
                                            aspect-ratio: 1/1;
                                            object-fit: contain;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    
                }
            }

            .loader{
                width: 100%;
                height: 100%;
                background-color: #248EFF;
                margin: 0px;
                transition: height 1000ms;
                z-index: 2;
            }
        }
        .hoverable{
            &:hover{
                padding: 3rem;
            }
        }
    }
}

.toolBar{
    display: grid;
    align-items: center;

    grid-template-columns: repeat(3, 1fr);

    form{
        display: flex;
        grid-column: 1/2;
    }
    a{
        grid-column: 3/4;
    }
    .tbImage{
        aspect-ratio: 1/1;
        width: 3%;
        object-fit: contain;
    }
}

.roulette{
    border: 1px solid black;
    cursor: default;
}

@keyframes spin {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg); 
    }
}
//Perfil ususario
//index usuaario

@keyframes stop {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(45deg);
    }
}